services:
  postgres:
    image: postgres:15  # Используем более легкую версию
    container_name: flipspace_db
    environment:
      POSTGRES_DB: flipspace
      POSTGRES_USER: flipspace_user
      POSTGRES_PASSWORD: flipspace_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

volumes:
  postgres_data: